modpack/ba_data/python/__pycache__
modpack/ba_data/python/babase/__pycache__
modpack/ba_data/python/babase/_mgen/__pycache__
modpack/ba_data/python/baclassic/__pycache__
modpack/ba_data/python/bacommon/__pycache__
modpack/ba_data/python/baplus/__pycache__
modpack/ba_data/python/bascenev1/__pycache__
modpack/ba_data/python/bascenev1lib/__pycache__
modpack/ba_data/python/bascenev1lib/activity/__pycache__
modpack/ba_data/python/bascenev1lib/actor/__pycache__
modpack/ba_data/python/bascenev1lib/game/__pycache__
modpack/ba_data/python/bascenev1lib/mapdata/__pycache__
modpack/ba_data/python/bascenev1lib/session/__pycache__
modpack/ba_data/python/batemplatefs/__pycache__
modpack/ba_data/python/bauiv1/__pycache__
modpack/ba_data/python/bauiv1lib/__pycache__
modpack/ba_data/python/bauiv1lib/account/__pycache__
modpack/ba_data/python/bauiv1lib/coop/__pycache__
modpack/ba_data/python/bauiv1lib/gather/__pycache__
modpack/ba_data/python/bauiv1lib/keyboard/__pycache__
modpack/ba_data/python/bauiv1lib/league/__pycache__
modpack/ba_data/python/bauiv1lib/playlist/__pycache__
modpack/ba_data/python/bauiv1lib/profile/__pycache__
modpack/ba_data/python/bauiv1lib/settings/__pycache__
modpack/ba_data/python/bauiv1lib/soundtrack/__pycache__
modpack/ba_data/python/bauiv1lib/store/__pycache__
modpack/ba_data/python/efro/__pycache__
modpack/ba_data/python/efro/dataclassio/__pycache__
modpack/ba_data/python/efro/message/__pycache__
modpack/ba_data/python-site-packages/__pycache__
modpack/ba_data/python-site-packages/certifi/__pycache__
modpack/ba_data/python-site-packages/yaml/__pycache__
modpack/ba_data/python-site-packages/_yaml/__pycache__
modpack/lib/__pycache__
modpack/lib/asyncio/__pycache__
modpack/lib/collections/__pycache__
modpack/lib/concurrent/__pycache__
modpack/lib/concurrent/futures/__pycache__
modpack/lib/ctypes/__pycache__
modpack/lib/ctypes/macholib/__pycache__
modpack/lib/curses/__pycache__
modpack/lib/email/__pycache__
modpack/lib/email/mime/__pycache__
modpack/lib/encodings/__pycache__
modpack/lib/html/__pycache__
modpack/lib/http/__pycache__
modpack/lib/importlib/__pycache__
modpack/lib/importlib/metadata/__pycache__
modpack/lib/importlib/resources/__pycache__
modpack/lib/json/__pycache__
modpack/lib/logging/__pycache__
modpack/lib/re/__pycache__
modpack/lib/sqlite3/__pycache__
modpack/lib/tomllib/__pycache__
modpack/lib/urllib/__pycache__
modpack/lib/xml/__pycache__
modpack/lib/xml/dom/__pycache__
modpack/lib/xml/etree/__pycache__
modpack/lib/xml/parsers/__pycache__
modpack/lib/xml/sax/__pycache__
modpack/lib/xmlrpc/__pycache__
modpack/lib/zoneinfo/__pycache__
autogitignore.py
